
body{
  margin: 0;
  padding: 0;
}

.firstimage {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
  width: 100%;
  height:1300px;
  background-image: url('../images/cerros.jpg');

}
.firstimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.secondimage {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
  height: 1300px;
  background-image: url('../images/sad.jpg');

}
.secondimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}


.thirdimage
  {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
    width: 100%;
    height: 1300px;
    background-image: url("../images/nohaygasolina.png");
  }
  .thirdimage:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }


.fourthimage
      {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
    width: 100%;
    height: 1300px;
    background-image: url("../images/dictadura.jpg");
      }
.fourthimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
      }

.fithimage
        {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/escazes.jpg");
        }
.fithimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
        }

  .siximage
          {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/protesta.jpg");
          }
  .siximage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
          }
  .sevenimage
            {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/garbage.png");
            }
  .sevenimage:before {
   content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
            }
  .eightimage
              {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/line.JPG");
              }
.eightimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
              }
.nineimage
                {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/nocash.JPG");
                }
  .nineimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
                }
  .tenimage
                  {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/protester.jpg");
                  }
  .tenimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
                  }
  .elevenimage
                    {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/poverty.jpg");
                    }
  .elevenimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);}

  .twelveimage
                        {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/paper.png");
                        }
  .twelveimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);}

  .thirteenimage {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1300px;
  background-image: url("../images/kidpoor.jpg");
                        }
  .thirteenimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);}

                  .helpimage
                    {
                      background-image: none;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      color: #fff;
                      padding: 1em;
                      width: 100%;
                      position: relative;
                      width: 100%;
                      height: 1300px;
                      background-image: url("../images/donations.png");
                    }
                    .helpimage:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      display: block;
                      background-color: rgba(0, 0, 0, 0.5);
                    }
                  .aboutimage
                    {
                      background-image: none;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      color: #fff;
                      padding: 1em;
                      width: 100%;
                      position: relative;
                      width: 100%;
                      height: 1300px;
                      background-image: url("../images/flag.jpg");
                    }
                    .aboutimage:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      display: block;
                      background-color: rgba(0, 0, 0, 0.5);
                    }


#button2{margin-top: 5%;}

#button3{margin-top: 5%;}

#button4{margin-top: 5%;}

#button5{margin-top: 5%;}

#button6{margin-top: 5%;}

#button7{margin-top: 5%;}

#button8{margin-top: 5%;}

#button9{margin-top: 5%;}

#button10{margin-top: 5%;}

#button11{margin-top: 5%;}

#button12{margin-top: 5%;}

#button13{margin-top: 5%;}

    li { list-style-type: none;

        overflow: hidden;
        float: left;
        display: block;
        color: #FFFF;
        text-align: center;
        padding: 14px 16px;
        }


        li a:hover{ color: #ffa500; }
        li a:visited{ color:#FFFF;}
        li a:active { color:#ffa500;}
        li a:link {color:#FFFF;}


        a:link { color: #FFFF; }
        a:visited { color: #ffff; }
        a:hover { color: #ffa500; }

                p a:hover{ color: #ffa500 }
                p a:visited{ color:#ffa500;}
                p a:active { color:#FFFF;}
                p a:link {color:#FFFF;}


  div a:hover {color:#ffa500;}


#home{top: 600%;
      position: absolute;
      left: 15%;
     }

#page2
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page3
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page4
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page5
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page6
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page7
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page8
{top: 200%;
position:absolute;
left: 10%;
right: 30%;}

#page9
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page10
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page11
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page12
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#page13
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#pageabout
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

#pagehelp
{top: 200%;
position: absolute;
left: 10%;
right: 30%;}

.boxing{
  border: 1px solid burgandy ;
  background-color: rgba(50,0,13, 0.6);
  border-radius: 7px;


}
p{
padding: 4%;
font-size: 20px;}


  @media (max-width: 792px)
  {
    #page2, #page3, #page7,#page8, #page10, #page12
    {left:10%;right: 10%}
  }
  @media (max-width: 500px)
  {
     .secondimage,.thirdimage,.fourthimage,.fithimage, .sixthimage, .sevenimage, .eightimage, .tenimage,.elevenimage,.twelveimage, .nineimage
     {
       height: 1750px;
     }
  }
