.firstimage {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
  width: 100%;
  height: 900px;
  background-image: url('../images/cerros.jpg');

}
.firstimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.secondimage {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
  width: 100%;
  height: 900px;
  background-image: url('../images/sad.jpg');

}
.secondimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}


.thirdimage
  {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("../images/nohaygasolina.png");
  }
  .thirdimage:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }


.fourthimage
      {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 1em;
    width: 100%;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("../images/dictadura.jpg");
      }
.fourthimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
      }

.fithimage
        {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/escazes.jpg");
        }
.fithimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
        }

  .siximage
          {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/protesta.jpg");
          }
  .siximage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
          }
  .sevenimage
            {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/garbage.png");
            }
  .sevenimage:before {
   content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
            }
  .eightimage
              {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/line.JPG");
              }
.eightimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
              }
.nineimage
                {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/nocash.JPG");
                }
  .nineimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
                }
  .tenimage
                  {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/protester.jpg");
                  }
  .tenimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
                  }
  .elevenimage
                    {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/poverty.jpg");
                    }
  .elevenimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);}

  .twelveimage
                        {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/paper.png");
                        }
  .twelveimage:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
                    }


                  .helpimage
                    {
                      background-image: none;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      color: #fff;
                      padding: 1em;
                      width: 100%;
                      position: relative;
                      width: 100%;
                      height: 900px;
                      background-image: url("../images/donations.png");
                    }
                    .helpimage:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      display: block;
                      background-color: rgba(0, 0, 0, 0.5);
                    }
                  .aboutimage
                    {
                      background-image: none;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      color: #fff;
                      padding: 1em;
                      width: 100%;
                      position: relative;
                      width: 100%;
                      height: 900px;
                      background-image: url("../images/flag.jpg");
                    }
                    .aboutimage:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      display: block;
                      background-color: rgba(0, 0, 0, 0.5);
                    }






p{font-size: 15px;
  position: fixed;
  width:500px;
    height:500px;
    top: 200px;
}

li { list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    }


    li a:hover:not(.active) {background-color:none;}
    li a:visited{ color:#FFFF;}
    li a:active { color:#FFFF;}
    li a:link {color:#FFFF;}

#button1 {
    font-size: 35px;
    text-align: center;
    position: absolute;
       left: 500px;
       top: 470px;}

 #button2  {font-size: 17px;
   text-align: center;
   position: absolute;
      left: 580px;
      top: 700px;}

  #button3 {font-size: 17px;
    text-align: center;
    position: absolute;
       left: 580px;
       top: 700px;}

   #button4  {font-size: 17px;
      text-align: center;
      position: absolute;
        left: 580px;
        top: 700px;}

   #button5  {font-size: 17px;
        text-align: center;
        position: absolute;
        left: 580px;
        top: 700px;}

  #button6  {font-size: 17px;
       text-align: center;
       position: absolute;
       left: 580px;
       top: 700px;}

   #button7  {font-size: 17px;
      text-align: center;
      position: absolute;
      left: 580px;
      top: 700px;}

  #button8 {font-size: 17px;
      text-align: center;
      position: absolute;
      left: 580px;
      top: 700px;}

      #button9  {font-size: 17px;
         text-align: center;
         position: absolute;
         left: 580px;
         top: 700px;}

     #button10 {font-size: 17px;
         text-align: center;
         position: absolute;
         left: 580px;
         top: 700px;}

     #button11  {font-size: 17px;
            text-align: center;
            position: absolute;
            left: 580px;
            top: 700px;}

    #button12 {font-size: 17px;
            text-align: center;
            position: absolute;
            left: 580px;
            top: 700px;}




 div { box-sizing: border-box;}


h1{color:#FFFF;
  font-size: 90px;
 text-align: center;
 position: absolute;
 width: 1100px;
    top: 250px;}

h4 { font-size: 30px;
   text-align: center;
   position: absolute;
   width: 1100px;
      top: 350px;}

h5 {  font-size: 20px;
    position: absolute;
  text-align: center;
   width: 1100px;
     top: 430px}




 #freedom_chart {
   max-width: 530px;
   height:350px;
   margin-top: 480px;}

#oil_chart {
    max-width: 530px;
    height:350px;
    margin-top: 480px;}

#GDP_chart{
  max-width: 530px;
  height:400px;
  margin-top: 480px;}

#unemployment_chart{
    max-width: 530px;
    height:400px;
    margin-top: 480px;}





      @media (max-width: 1199px)
      {
     #button1{ font-size: 30px;
       text-align:center;
        position: absolute;
          left: 450px;
          top: 465px;}

      body {display: block;}

         h1{font-size:80px;
           width: 100%;
           top: 250px;
           margin: auto;
           text-align: center;
         position: absolute;}

         h4{font-size: 27px;
           width: 100%;
            top:350px;
           margin:auto;
           text-align: center;
         position: absolute;}

         h5{ font-size: 18px;
           width: 100%;
           top: 420px;
         margin:auto;
         text-align: center;
       position: absolute;}

}


      @media (max-width: 991px)
      {
     #button1{ font-size: 23px;
       text-align:center;
        position: absolute;
          left: 320px;
          top: 450px;}

      body {display: block;}

         h1{font-size:63px;
           width: 100%;
           top: 290px;
           margin: auto;
           text-align: center;}

         h4{font-size: 20px;
           width: 100%;
            top:355px;
           margin:auto;
           text-align: center;
           padding-top: 10px;
           padding-bottom: 10px;
         padding-left: 110px;
       padding-right: 110px;}

         h5{ font-size: 14px;
           width: 100%;
           top: 420px;
         margin:auto;
         text-align: center;}


         @media  (max-width: 767px)
            {
            #button1 { font-size: 15px;
              top: 440px;
              left: 250px;
              position:absolute;
              text-align:center;
            }

            h1{font-size: 55px;
              width:100%;
              top: 240px;
              margin: auto;
              text-align: center;
            padding-left: 10px;
          padding-right: 10px;}

            h4{font-size:15px;
              width: 100%;
              top: 355px;
              margin: auto;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
            padding-left: 10px;
          padding-right: 10px;}

            h5 {font-size: 12px;
                width:100%;
                top: 410px;
            }


         @media  (max-width: 575px)
                        {
              #button1 { font-size: 13px;
                        top: 400px;
                        left: 225px;
                        position:absolute;
                        text-align:center;}

                h1{font-size: 40px;
                          width:100%;
                          top: 250px;
                          left: 0px;
                        text-align: center;
                        position: absolute;
                      padding-left: 20px;
                    padding-right: 70px;
                         }

                h4{font-size: 11px;
                            width:100%;
                            top: 325px;
                            margin: auto;
                            text-align: center;
                            padding-top: 15px;
                            padding-bottom: 10px;
                          padding-left: 0px;
                        padding-right: 70px;}

                  h5 {font-size: 11px;
                            width:100%;
                            top: 370px;
                            padding-left: 20px;
                            padding-right: 70px;
                            margin: auto;
                            text-align: center;
                        }

  @media only screen and  (max-width: 450px)
{
   #button1 { font-size: 13px;
            top: 460px;
            left: 130px;
            position:absolute;
            text-align:center;}

   h1{font-size: 40px;
            width:100%;
            top: 250px;
            left: 0px;
            text-align: center;
            position: absolute;}

   h4{font-size: 11px;
             width:100%;
            top: 380px;
            margin: auto;
            text-align: center;
            padding-left: 0px;
            padding-right: 70px;}

   h5 {font-size: 11px;
          width:100%;
          top: 430px;
          padding-left: 20px;
          padding-right: 70px;
          margin: auto;
          text-align: center; }
}
